@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: "anything";
    src: url('Fonts/Booter - Zero Zero.woff2') format("woff2"),
         url('Fonts/Booter - Zero Zero.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #C9A227;
}

html, body {
    padding:0;
    margin:0;
}

.nav ul {
    margin:0;
}

.nav li{
    display: inline;

}

.main-nav {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid #3a4b4b;  /*I could use some other colors like #5E4B2C */
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode:multiply ;

}

.main-nav li {
    padding: 0em 1.5em;
}

 .nav a {
    display: inline-block;
    padding:10px;
    text-decoration: none;
    
} 
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.header {
    background-image:url('images/header-bg.avif') ;
    background-size: cover;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: multiply;
    padding-bottom: 50px;
}

.band-name {
    margin: 0;
    font-size: 4em;
    font-family: anything;
    font-weight: normal;
}

.band-name-large {
    text-align: center;
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Metal Mania;
    font-weight: normal;
    color: #826a1a;
}

.about-band-image {
    float: left;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #826a1a;
    margin: 0;
    color: #3a4b4b;
    padding: 0.3em 0.5em;
    
}

.main-footer-container {
    display: flex;
    align-items: center;

}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav {
    padding: 0 .5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding:0.7em;
    font-size: 1.1em;
    cursor: pointer;
    
}

.btn-header {
    margin: .5em 15% 2em 20%;
    border: 2px solid #3a4b4b;
    background-color: #3a4b4b80;
    color: #826a1a;
    border-radius: 0%;
    font-size: 1.3em;
    padding-right: 2em;
    padding-left: 2em;
}

.btn-header:hover {
    background-color: #826a1a;
    color: #3a4b4b;

}

.btn-player {
    display: block;
    margin: 0 auto;
    padding: 0em;
    border-radius: 50%;
    color: #3a4b4b;
    font-size: 4em;
    width: 150px;
    height: 150px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 0.7em;
    margin-bottom: 0.7em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color:#3a4b4b;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width:24%
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;

}

.btn-primary {
    padding: 0.5em;
    background-color: #3a4b4b;
    border: none;
    border-radius: 6%;
    font-weight: bold;
}

.btn-primary:hover {
    color:#3a4b4b;
    background-color: #826a1a;
} 

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    color:#826a1a;
    font-size: 1.5em;
    margin: .5em;
}

.shop-item-img {
    width: 300px;

}

.shop-item-details {
    display: flex;
    align-items: center;
    padding:.5em;
}

.shop-item-price {
    flex-grow: 1 ;
    
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color:black;

}

.cart-col {
    display: flex;
    border-bottom:1px solid #3a4b4b;
    margin-right: 3em;
    margin-top:10px;
    padding: 5px;
    align-items: center;
}
.cart-row {
    display: flex;

}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #3a4b4b;

}

.cart-quantity {
    width:35%;
    display: flex;
    
}

.cart-item-title {
    color: #3a4b4b;
    margin-left: .7em;
    font-size:1.2em;
}

.cart-item-image {
    width: 75px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: red;
    border: 0;
    border-radius: .3em;
    font-weight: bold;
    


}

.btn-danger:hover {
    background-color: lightcoral;
}

.cart-input {
   height: 34px;
   width: 50px; 
   border-radius: 5px;
   border:1px solid #C9A227;
   background-color: #3a4b4b;
   padding: 0;
   text-align: center;
   font-size: 20px;
   margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-col{
    border:none;
}
.cart-total {
    text-align: end;
    margin-top:.3em;    
    margin-right: 1em;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color:black;
    margin-right: .5em;

}

.cart-total-price {
    color: black;
    font-size: 1.3em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}